img {
  width: 100vh;

  transform: translateX(50%);
  opacity: 0;
  transition: all 500ms;
}

.fade {
  transform: translateX(0);
  opacity: 1;
  transition: all 500ms;
}

h1 {
  color: #ffffff;
}

#here {
  width: 100px;
  height: 300px;
  background-color: blue;
}

.container {
  justify-content: center;
  border: 30px pink groove;
  width: 100%;
  height: 100%;
  background-color: rgb(184, 199, 100);
}

.navbar {
  border: 25px rgb(173, 173, 235) groove;
  height: 100px;
  background-color: rgb(119, 221, 213);
}

.main {
  background-color: #f1b0d4;
  width: 100%;
  height: 83%;
  columns: 3;
}

.columns {
  height: 500px;
  width: 200px;
  background-color: #ee0a87;
}
